<!-- /* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */ -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>RoboAI Test Suite</title>
    <link href="assets/style.css" rel="stylesheet" type="text/css"/></head>
  <body onLoad="init()">
<script>


function toArray(iter) {
    if (iter === null) {
        return null;
    }
    return Array.prototype.slice.call(iter);
}

function find(selector, elem) { // eslint-disable-line no-redeclare
    if (!elem) {
        elem = document;
    }
    return elem.querySelector(selector);
}

function findAll(selector, elem) {
    if (!elem) {
        elem = document;
    }
    return toArray(elem.querySelectorAll(selector));
}

function sortColumn(elem) {
    toggleSortStates(elem);
    const colIndex = toArray(elem.parentNode.childNodes).indexOf(elem);
    let key;
    if (elem.classList.contains('result')) {
        key = keyResult;
    } else if (elem.classList.contains('links')) {
        key = keyLink;
    } else {
        key = keyAlpha;
    }
    sortTable(elem, key(colIndex));
}

function showAllExtras() { // eslint-disable-line no-unused-vars
    findAll('.col-result').forEach(showExtras);
}

function hideAllExtras() { // eslint-disable-line no-unused-vars
    findAll('.col-result').forEach(hideExtras);
}

function showExtras(colresultElem) {
    const extras = colresultElem.parentNode.nextElementSibling;
    const expandcollapse = colresultElem.firstElementChild;
    extras.classList.remove('collapsed');
    expandcollapse.classList.remove('expander');
    expandcollapse.classList.add('collapser');
}

function hideExtras(colresultElem) {
    const extras = colresultElem.parentNode.nextElementSibling;
    const expandcollapse = colresultElem.firstElementChild;
    extras.classList.add('collapsed');
    expandcollapse.classList.remove('collapser');
    expandcollapse.classList.add('expander');
}

function showFilters() {
    const filterItems = document.getElementsByClassName('filter');
    for (let i = 0; i < filterItems.length; i++)
        filterItems[i].hidden = false;
}

function addCollapse() {
    // Add links for show/hide all
    const resulttable = find('table#results-table');
    const showhideall = document.createElement('p');
    showhideall.innerHTML = '<a href="javascript:showAllExtras()">Show all details</a> / ' +
                            '<a href="javascript:hideAllExtras()">Hide all details</a>';
    resulttable.parentElement.insertBefore(showhideall, resulttable);

    // Add show/hide link to each result
    findAll('.col-result').forEach(function(elem) {

        const collapsedFailed = getQueryParameter('collapsed') || 'Failed';
        const collapsedPassed = getQueryParameter('collapsed') || 'Passed';
        const extras = elem.parentNode.nextElementSibling;
        const expandcollapse = document.createElement('span');
        if (extras.classList.contains('collapsed')) {
            expandcollapse.classList.add('expander');
        } else if (collapsedFailed.includes(elem.innerHTML)) {
            extras.classList.add('collapsed');
            expandcollapse.classList.add('expander');
        }else if (collapsedPassed.includes(elem.innerHTML)) {
            extras.classList.add('collapsed');
            expandcollapse.classList.add('expander');
        } else {
            expandcollapse.classList.add('collapser');
        }
        elem.appendChild(expandcollapse);

        elem.addEventListener('click', function(event) {
            if (event.currentTarget.parentNode.nextElementSibling.classList.contains('collapsed')) {
                showExtras(event.currentTarget);
            } else {
                hideExtras(event.currentTarget);
            }
        });
    });
}

function getQueryParameter(name) {
    const match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
    return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
}

function init () { // eslint-disable-line no-unused-vars
    resetSortHeaders();

    addCollapse();

    showFilters();

    sortColumn(find('.initial-sort'));

    findAll('.sortable').forEach(function(elem) {
        elem.addEventListener('click',
            function() {
                sortColumn(elem);
            }, false);
    });
}

function sortTable(clicked, keyFunc) {
    const rows = findAll('.results-table-row');
    const reversed = !clicked.classList.contains('asc');
    const sortedRows = sort(rows, keyFunc, reversed);
    /* Whole table is removed here because browsers acts much slower
     * when appending existing elements.
     */
    const thead = document.getElementById('results-table-head');
    document.getElementById('results-table').remove();
    const parent = document.createElement('table');
    parent.id = 'results-table';
    parent.appendChild(thead);
    sortedRows.forEach(function(elem) {
        parent.appendChild(elem);
    });
    document.getElementsByTagName('BODY')[0].appendChild(parent);
}

function sort(items, keyFunc, reversed) {
    const sortArray = items.map(function(item, i) {
        return [keyFunc(item), i];
    });

    sortArray.sort(function(a, b) {
        const keyA = a[0];
        const keyB = b[0];

        if (keyA == keyB) return 0;

        if (reversed) {
            return keyA < keyB ? 1 : -1;
        } else {
            return keyA > keyB ? 1 : -1;
        }
    });

    return sortArray.map(function(item) {
        const index = item[1];
        return items[index];
    });
}

function keyAlpha(colIndex) {
    return function(elem) {
        return elem.childNodes[1].childNodes[colIndex].firstChild.data.toLowerCase();
    };
}

function keyLink(colIndex) {
    return function(elem) {
        const dataCell = elem.childNodes[1].childNodes[colIndex].firstChild;
        return dataCell == null ? '' : dataCell.innerText.toLowerCase();
    };
}

function keyResult(colIndex) {
    return function(elem) {
        const strings = ['Error', 'Failed', 'Rerun', 'XFailed', 'XPassed',
            'Skipped', 'Passed'];
        return strings.indexOf(elem.childNodes[1].childNodes[colIndex].firstChild.data);
    };
}

function resetSortHeaders() {
    findAll('.sort-icon').forEach(function(elem) {
        elem.parentNode.removeChild(elem);
    });
    findAll('.sortable').forEach(function(elem) {
        const icon = document.createElement('div');
        icon.className = 'sort-icon';
        icon.textContent = 'vvv';
        elem.insertBefore(icon, elem.firstChild);
        elem.classList.remove('desc', 'active');
        elem.classList.add('asc', 'inactive');
    });
}

function toggleSortStates(elem) {
    //if active, toggle between asc and desc
    if (elem.classList.contains('active')) {
        elem.classList.toggle('asc');
        elem.classList.toggle('desc');
    }

    //if inactive, reset all other functions and add ascending active
    if (elem.classList.contains('inactive')) {
        resetSortHeaders();
        elem.classList.remove('inactive');
        elem.classList.add('active');
    }
}

function isAllRowsHidden(value) {
    return value.hidden == false;
}

function filterTable(elem) { // eslint-disable-line no-unused-vars
    const outcomeAtt = 'data-test-result';
    const outcome = elem.getAttribute(outcomeAtt);
    const classOutcome = outcome + ' results-table-row';
    const outcomeRows = document.getElementsByClassName(classOutcome);

    for(let i = 0; i < outcomeRows.length; i++){
        outcomeRows[i].hidden = !elem.checked;
    }

    const rows = findAll('.results-table-row').filter(isAllRowsHidden);
    const allRowsHidden = rows.length == 0 ? true : false;
    const notFoundMessage = document.getElementById('not-found-message');
    notFoundMessage.hidden = !allRowsHidden;
}
</script>

<h1>RoboAI Test Suite Report</h1>
    <p>Report generated on 31/03/2022 at 14:13:21 by RoboAI CLI</p>
    <h2>Environment</h2>
    <table id="environment">
      <tr>
        <td>Rasa Version</td>
        <td>1.10.0</td></tr>
      <tr>
        <td>Chatbot Version</td>
        <td>Not available</td></tr>
      <tr>
        <td>Model Name</td>
        <td>languages/de/models/model-de-20220331-140141.tar.gz</td></tr>
      <tr>
        <td>Trained At</td>
        <td>31/03/2022 14:01:41 (1648735315.13631)</td></tr>
      <tr>
        <td>Model Fingerprint</td>
        <td><a href="./fingerprint.json" target="_blank">fingerprint.json</a></td>
      </tr>
    </table>
    <h2>Summary</h2>
    <table class="summary">
        <tr>
          <td>Number of tests</td>
          <td>{{results['number_tests']}}</td>
        </tr>
        <tr>
          <td>Successful</td>
          <td>{{results['number_tests_successful']}}</td></tr>
        <tr>
          <td>Failed</td>
          <td>{{results['number_tests_failed']}}</td>
        </tr>
    </table>
    <br>
    <table class="summary">
        <tr>
            <td>Number of test inputs</td>
            <td>{{results['number_tests_inputs']}}</td></tr>
        <tr>
            <td>Successful</td>
            <td>{{results['number_tests_inputs_successful']}}</td></tr>
        <tr>
            <td>Failed</td>
            <td>{{results['number_tests_inputs_failed']}}</td></tr>
    </table>
    <p class="filter" hidden="true">(Un)check the boxes to filter the results.</p>
    <input checked="true" class="filter" data-test-result="passed" hidden="true" name="filter_checkbox" onChange="filterTable(this)" type="checkbox"/>
      <span class="passed">{{results['number_tests_successful']}} passed</span>,
    <input checked="true" class="filter" data-test-result="failed" hidden="true" name="filter_checkbox" onChange="filterTable(this)" type="checkbox"/>
      <span class="failed">{{results['number_tests_failed']}} failed</span>

  <h2>Results</h2>
    <table id="results-table">
      <thead id="results-table-head">
        <tr>
          <th class="sortable result initial-sort" col="result">Result</th>
          <th class="sortable" col="name">Test</th>
          <th class="sortable links" col="links">Links</th>
        </tr>
        <tr hidden="true" id="not-found-message">
          <th colspan="4">No results found. Try to check the filters</th></tr></thead>

        <tbody class="failed results-table-row">

          {% for element in data %}
            {% if element['status'] == 'Failed' %}
                <tr>
                    <td class="col-result">Failed</td>
                    <td class="col-name">{{element['story_name']}}</td>
                    <td class="col-links"><a href= "trackers/{{ element['story_id']}}.json" target="_blank">tracker.json</a></td>
                </tr>
                <tr>
                    <td class="extra" colspan="4">
                    <table class="side-by-side">
                      <tr>
                        <td class ="highlight-border-td">
                        <table class="highlight-border">

                            <caption><strong>Expected Chat</strong></caption>
                            <thead>
                                <tr>
                                    <th class="flag-conversation"> Start of conversation </th>
                                </tr>
                            </thead>
                            {% for dict_item in element['steps'] %}
                               {% for key, value in dict_item.items() %}
                                    {% if key == 'user' %}
                                        <tr><td class="user-cell">
                                          <div class="user-utter">{{value}}</div>
                                        </td></tr>
                                        <tr><td class="user-utter-description">
                                            <strong>You</strong>
                                        </td>
                                        <tr>
                                            <td><div class="space-log"></div></td>
                                        </tr>
                                    {% elif key == 'chatbot' %}
                                        {% for utter_key, utter_value in value.items() %}
                                            {% for item in utter_value %}
                                                {% set answers = item['custom']['answers'] %}
                                                {% for answer in answers %}
                                                    {% if answer['type'] == 'html' %}
                                                        <tr><td class="chatbot-cell">
                                                            <div class="chatbot-utter">{{answer['text']}}</div>
                                                        </td></tr>
                                                    {% elif answer['type'] == 'multichoice' %}
                                                        <tr><td class="chatbot-cell">
                                                        {% for option in answer['options'] %}
                                                            <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </a>
                                                        {% endfor %}
                                                        </td></tr>
                                                    {% elif answer["type"] == "text": %}
                                                        <tr><td class="chatbot-cell">
                                                            <div class="chatbot-utter">{{answer['text']|safe}}</div>
                                                        </td></tr>
                                                    {% elif answer["type"] == "links": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    {% for link in answer['links']: %}
                                                                        <a href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                    {%  endfor %}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {% elif answer["type"] == "video": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    <a class="chatbot-cell-a" href={{answer["url"]|safe}}>{{answer["title"]|safe}}</a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {% elif answer["type"] == "carousel": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    {% for link in answer["options"]: %}
                                                                        <a class="chatbot-cell-a" href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                    {%  endfor %}
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {%  elif answer["type"] == "image": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                <img src={{answer["url"]|safe}} width="100%" height="auto" alt={{answer["title"]|safe}}>
                                                            </p>
                                                            </td>
                                                        </tr>

                                                    {%  elif answer["type"] == "youtube": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    <a class="chatbot-cell-a"  href=https://youtu.be/{{answer["youtubeId"]|safe}}>{{answer["title"]|safe}}</a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {% elif answer["type"] == "command": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    <a class="chatbot-cell-a" title='value: {{answer["params"]["value"]|safe}}' href={{answer["params"]["key"]|safe}}>{{answer["name"]|safe}} </a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {% elif answer["type"] == "ssml": %}
                                                        <tr>
                                                            <td class = "chatbot-cell">
                                                                <p class = "chatbot-cell-p">
                                                                    <a class="chatbot-cell-a">{{answer["ssml"]|safe}} </a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    {% elif answer['type'] == 'hints' %}
                                                        <tr><td class="chatbot-cell">
                                                        {% for option in answer['options'] %}
                                                            <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </a>
                                                        {% endfor %}
                                                        </td></tr>
                                                    {% elif answer['type'] == 'cms' %}
                                                        <tr><td class="chatbot-cell">
                                                        {% for option in answer['parameters'] %}
                                                            <a class = "chatbot-cell-a" title='value: {{option["cmsId"]|safe}}'>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                            </a>
                                                        {% endfor %}
                                                        </td></tr>
                                                    {% endif %}
                                                {% endfor %}
                                                        <tr><td class="chatbot-utter-description">
                                                            <strong>Bot</strong> {{utter_key}}
                                                        </td></tr>
                                            <tr>
                                                <td><div class="space-log"></div></td>
                                            </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                               {% endfor %}
                            {% endfor %}
                            <tfoot>
                                <tr>
                                    <th class="flag-conversation"> End of conversation </th>
                                </tr>
                            </tfoot>
                        </table>
                        </td>
                          <td class = "highlight-border-td">
                        <table class="highlight-border">
                            <caption><strong>Tracker</strong></caption>
                            <thead>
                                <tr>
                                    <th class="flag-conversation"> Start of conversation </th>
                                </tr>
                            </thead>
                            {% set events = element['tracker']['events'] %}
                            {%for item in events%}
                                {%if item['event'] == "action"%}
                                    <tr><td class="extra-info-log">
                                        <strong>{{item['event'] ~ ":" ~ item['name'] ~ "(" + item['policy'] ~ ", " ~ item['confidence'] ~ ")"}}</strong>
                                    </td></tr>
                                {%elif item['event'] == "form"%}
                                    <tr><td class="extra-info-log">
                                        <strong>{{item['event'] ~ ":" ~ item['name']}}</strong>
                                    </td></tr>
                                {%elif item['event'] == "slot"%}
                                    <tr><td class="extra-info-log">
                                        <strong>{{item['event'] ~ ":" ~ item['name'] ~ " value: " ~ item['value'] }}</strong>
                                    </td></tr>
                                {%elif item['event'] == "user"%}
                                    <tr><td class="user-cell">
                                      <div class="user-utter">{{item['text']}}</div>
                                    </td></tr>
                                    <tr><td class="user-utter-description">
                                        <div class="dropdown">
                                        <a class = "dropa">{{item['parse_data']['intent']['name'] ~ " (" ~ item['parse_data']['intent']['confidence'] ~ ")"}}</a>  <strong>You</strong>

                                          <div class="dropdown-content">
                                            {%for entities_item in item['parse_data']['entities']%}
                                              <a>{{entities_item}}</a>
                                            {%endfor%}
                                            {%for rank_item in range(3)%}
                                              <a>{{item["parse_data"]["intent_ranking"][rank_item]["name"] ~ " : " ~ item["parse_data"]["intent_ranking"][rank_item]["confidence"]}}</a>
                                            {%endfor%}
                                          </div>
                                        </div>
                                    </td></tr>
                                    <tr>
                                        <td><div class="space-log"></div></td>
                                    </tr>
                                {%elif item['event'] == "bot"%}
                                    {% set bot_answers = item['data']['custom']['answers'] %}
                                    {% for answer in bot_answers %}
                                        {% if answer['type'] == 'html' %}
                                            <tr><td class="chatbot-cell">
                                                <div class="chatbot-utter">{{answer['text']}}</div>
                                            </td></tr>
                                        {% elif answer['type'] == 'multichoice' %}
                                            <tr><td class="chatbot-cell">
                                            {% for option in answer['options'] %}
                                                <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                            {% endfor %}
                                            </td></tr>
                                        {% elif answer["type"] == "text": %}
                                            <tr><td class="chatbot-cell">
                                                <div class="chatbot-utter">{{answer['text']|safe}}</div>
                                            </td></tr>
                                        {% elif answer["type"] == "links": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        {% for link in answer['links']: %}
                                                            <a href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                        {%  endfor %}
                                                    </p>
                                                </td>
                                            </tr>
                                        {% elif answer["type"] == "video": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        <a class="chatbot-cell-a" href={{answer["url"]|safe}}>{{answer["title"]|safe}}</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% elif answer["type"] == "carousel": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        {% for link in answer["options"]: %}
                                                            <a class="chatbot-cell-a" href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                        {%  endfor %}
                                                    </p>
                                                </td>
                                            </tr>
                                        {%  elif answer["type"] == "image": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                <p class = "chatbot-cell-p">
                                                    <img src={{answer["url"]|safe}} width="100%" height="auto" alt={{answer["title"]|safe}}>
                                                </p>
                                                </td>
                                            </tr>

                                        {%  elif answer["type"] == "youtube": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        <a class="chatbot-cell-a"  href=https://youtu.be/{{answer["youtubeId"]|safe}}>{{answer["title"]|safe}}</a>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% elif answer["type"] == "command": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        <a class="chatbot-cell-a" title='value: {{answer["params"]["value"]|safe}}' href={{answer["params"]["key"]|safe}}>{{answer["name"]|safe}} </a>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% elif answer["type"] == "ssml": %}
                                            <tr>
                                                <td class = "chatbot-cell">
                                                    <p class = "chatbot-cell-p">
                                                        <a class="chatbot-cell-a">{{answer["ssml"]|safe}} </a>
                                                    </p>
                                                </td>
                                            </tr>
                                        {% elif answer['type'] == 'hints' %}
                                            <tr><td class="chatbot-cell">
                                            {% for option in answer['options'] %}
                                                <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                            {% endfor %}
                                            </td></tr>
                                        {% elif answer['type'] == 'cms' %}
                                            <tr><td class="chatbot-cell">
                                            {% for option in answer['parameters'] %}
                                                <a class = "chatbot-cell-a" title='value: {{option["cmsId"]|safe}}'>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                </a>
                                            {% endfor %}
                                            </td></tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr><td class="chatbot-utter-description">
                                        <strong>Bot</strong>
                                    </td></tr>
                                    <tr>
                                        <td><div class="space-log"></div></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tfoot>
                                <tr>
                                    <th class="flag-conversation"> End of conversation </th>
                                </tr>
                            </tfoot>
                        </table>
                        </td>
                    </tr>
                </table>
                </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>

      <tbody class="passed results-table-row">

          {% if passed %}
              {% for element in data %}
                {% if element['status'] == 'Passed' %}
                    <tr>
                      <td class="col-result">Passed</td>
                      <td class="col-name">{{element['story_name']}}</td>
                      <td class="col-links"><a href= "trackers/{{ element['story_id']}}.json">tracker.json</a></td>
                    </tr>
                    <tr>
                        <td class="extra" colspan="4">
                            <table class="side-by-side">
                              <tr>
                                <td class ="highlight-border-td">
                                <table class="highlight-border">
                                    <caption><strong>Expected Chat</strong></caption>
                                        <thead>
                                            <tr>
                                                <th class="flag-conversation"> Start of conversation </th>
                                            </tr>
                                        </thead>
                                    {% for dict_item in element['steps'] %}
                                       {% for key, value in dict_item.items() %}
                                            {% if key == 'user' %}
                                                <tr><td class="user-cell">
                                                  <div class="user-utter">{{value}}</div>
                                                </td></tr>
                                                <tr><td class="user-utter-description">
                                                    <strong>You</strong>
                                                </td>
                                                <tr>
                                                    <td><div class="space-log"></div></td>
                                                </tr>
                                            {% elif key == 'chatbot' %}
                                                {% for utter_key, utter_value in value.items() %}
                                                    {% for item in utter_value %}
                                                        {% set answers = item['custom']['answers'] %}
                                                        {% for answer in answers %}
                                                            {% if answer['type'] == 'html' %}
                                                                <tr><td class="chatbot-cell">
                                                                    <div class="chatbot-utter">{{answer['text']}}</div>
                                                                </td></tr>
                                                            {% elif answer['type'] == 'multichoice' %}
                                                                <tr><td class="chatbot-cell">
                                                                {% for option in answer['options'] %}
                                                                    <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </a>
                                                                {% endfor %}
                                                                </td></tr>
                                                            {% elif answer["type"] == "text": %}
                                                                <tr><td class="chatbot-cell">
                                                                    <div class="chatbot-utter">{{answer['text']|safe}}</div>
                                                                </td></tr>
                                                            {% elif answer["type"] == "links": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            {% for link in answer['links']: %}
                                                                                <a href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                            {%  endfor %}
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {% elif answer["type"] == "video": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            <a class="chatbot-cell-a" href={{answer["url"]|safe}}>{{answer["title"]|safe}}</a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {% elif answer["type"] == "carousel": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            {% for link in answer["options"]: %}
                                                                                <a class="chatbot-cell-a" href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                            {%  endfor %}
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {%  elif answer["type"] == "image": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                    <p class = "chatbot-cell-p">
                                                                        <img src={{answer["url"]|safe}} width="100%" height="auto" alt={{answer["title"]|safe}}>
                                                                    </p>
                                                                    </td>
                                                                </tr>

                                                            {%  elif answer["type"] == "youtube": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            <a class="chatbot-cell-a"  href=https://youtu.be/{{answer["youtubeId"]|safe}}>{{answer["title"]|safe}}</a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {% elif answer["type"] == "command": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            <a class="chatbot-cell-a" title='value: {{answer["params"]["value"]|safe}}' href={{answer["params"]["key"]|safe}}>{{answer["name"]|safe}} </a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {% elif answer["type"] == "ssml": %}
                                                                <tr>
                                                                    <td class = "chatbot-cell">
                                                                        <p class = "chatbot-cell-p">
                                                                            <a class="chatbot-cell-a">{{answer["ssml"]|safe}} </a>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            {% elif answer['type'] == 'hints' %}
                                                                <tr><td class="chatbot-cell">
                                                                {% for option in answer['options'] %}
                                                                    <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </a>
                                                                {% endfor %}
                                                                </td></tr>
                                                            {% elif answer['type'] == 'cms' %}
                                                                <tr><td class="chatbot-cell">
                                                                {% for option in answer['parameters'] %}
                                                                    <a class = "chatbot-cell-a" title='value: {{option["cmsId"]|safe}}'>
                                                                        &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </a>
                                                                {% endfor %}
                                                                </td></tr>
                                                            {% endif %}

                                                        {% endfor %}
                                                                <tr><td class="chatbot-utter-description">
                                                                    <strong>Bot</strong> {{utter_key}}
                                                                </td></tr>
                                                    <tr>
                                                        <td><div class="space-log"></div></td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}
                                       {% endfor %}
                                    {% endfor %}
                                    <tfoot>
                                        <tr>
                                            <th class="flag-conversation"> End of conversation </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                </td>
                                  <td class ="highlight-border-td">
                                <table class="highlight-border">
                                    <caption><strong>Tracker</strong></caption>
                                        <thead>
                                            <tr>
                                                <th class="flag-conversation"> Start of conversation </th>
                                            </tr>
                                        </thead>
                                    {% set events = element['tracker']['events'] %}
                                    {%for item in events%}
                                        {%if item['event'] == "action"%}
                                            <tr><td class="extra-info-log">
                                                <strong>{{item['event'] ~ ":" ~ item['name'] ~ "(" + item['policy'] ~ ", " ~ item['confidence'] ~ ")"}}</strong>
                                            </td></tr>
                                        {%elif item['event'] == "form"%}
                                            <tr><td class="extra-info-log">
                                                <strong>{{item['event'] ~ ":" ~ item['name']}}</strong>
                                            </td></tr>
                                        {%elif item['event'] == "slot"%}
                                            <tr><td class="extra-info-log">
                                                <strong>{{item['event'] ~ ":" ~ item['name'] ~ " value: " ~ item['value'] }}</strong>
                                            </td></tr>
                                        {%elif item['event'] == "user"%}
                                            <tr><td class="user-cell">
                                              <div class="user-utter">{{item['text']}}</div>
                                            </td></tr>
                                            <tr><td class="user-utter-description">
                                                <div class="dropdown">
                                                <a class = "dropa">{{item['parse_data']['intent']['name'] ~ " (" ~ item['parse_data']['intent']['confidence'] ~ ")"}}</a>  <strong>You</strong>
                                                      <div class="dropdown-content">
                                                        {%for entities_item in item['parse_data']['entities']%}
                                                          <a>{{entities_item}}</a>
                                                        {%endfor%}
                                                        {%for rank_item in range(3)%}
                                                          <a>{{item["parse_data"]["intent_ranking"][rank_item]["name"] ~ " : " ~ item["parse_data"]["intent_ranking"][rank_item]["confidence"]}}</a>
                                                        {%endfor%}
                                                      </div>
                                                </div>
                                            </td></tr>
                                        {%elif item['event'] == "bot"%}
                                            {% set bot_answers = item['data']['custom']['answers'] %}
                                            {% for answer in bot_answers %}
                                                {% if answer['type'] == 'html' %}
                                                    <tr><td class="chatbot-cell">
                                                        <div class="chatbot-utter">{{answer['text']}}</div>
                                                    </td></tr>
                                                {% elif answer['type'] == 'multichoice' %}
                                                    <tr><td class="chatbot-cell">
                                                    {% for option in answer['options'] %}
                                                        <a class = "chatbot-cell-a-multichoice" title='value: {{option["value"]|safe}}'>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </a>
                                                    {% endfor %}
                                                    </td></tr>
                                                {% elif answer["type"] == "text": %}
                                                    <tr><td class="chatbot-cell">
                                                        <div class="chatbot-utter">{{answer['text']|safe}}</div>
                                                    </td></tr>
                                                {% elif answer["type"] == "links": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                {% for link in answer['links']: %}
                                                                    <a href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                {%  endfor %}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% elif answer["type"] == "video": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                <a class="chatbot-cell-a" href={{answer["url"]|safe}}>{{answer["title"]|safe}}</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% elif answer["type"] == "carousel": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                {% for link in answer["options"]: %}
                                                                    <a class="chatbot-cell-a" href={{link["url"]|safe}}>{{link["title"]|safe}}</a>
                                                                {%  endfor %}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {%  elif answer["type"] == "image": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                        <p class = "chatbot-cell-p">
                                                            <img src={{answer["url"]|safe}} width="100%" height="auto" alt={{answer["title"]|safe}}>
                                                        </p>
                                                        </td>
                                                    </tr>

                                                {%  elif answer["type"] == "youtube": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                <a class="chatbot-cell-a"  href=https://youtu.be/{{answer["youtubeId"]|safe}}>{{answer["title"]|safe}}</a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% elif answer["type"] == "command": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                <a class="chatbot-cell-a" title='{{answer["params"]["value"]|safe}}' href={{answer["params"]["key"]|safe}}>{{answer["name"]|safe}} </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% elif answer["type"] == "ssml": %}
                                                    <tr>
                                                        <td class = "chatbot-cell">
                                                            <p class = "chatbot-cell-p">
                                                                <a class="chatbot-cell-a">{{answer["ssml"]|safe}} </a>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                {% elif answer['type'] == 'hints' %}
                                                    <tr><td class="chatbot-cell">
                                                    {% for option in answer['options'] %}
                                                        <a class = "chatbot-cell-a-multichoice" title='{{option["value"]|safe}}'>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option["label"]|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </a>
                                                    {% endfor %}
                                                    </td></tr>
                                                {% elif answer['type'] == 'cms' %}
                                                    <tr><td class="chatbot-cell">
                                                    {% for option in answer['parameters'] %}
                                                        <a class = "chatbot-cell-a" title='{{option["cmsId"]|safe}}'>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;<span>{{option|safe}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </a>
                                                    {% endfor %}
                                                    </td></tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tr><td class="chatbot-utter-description">
                                                <strong>Bot</strong>
                                            </td></tr>
                                            <tr>
                                                <td><div class="space-log"></div></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tfoot>
                                        <tr>
                                            <th class="flag-conversation"> End of conversation </th>
                                        </tr>
                                    </tfoot>
                                </table>
                                </td>
                            </tr>
                        </table>
                        </td>
                    </tr>
                {% endif %}
              {% endfor %}
          {% else %}
              {% for element in data %}
                {% if element['status'] == 'Passed' %}
                    <tr>
                      <td class="col-result">Passed</td>
                      <td class="col-name">{{element['story_name']}}</td>
                      <td class="col-links"></td>
                    </tr>
                    <tr>
                        <td class="extra" colspan="4">
                            <div class="empty-log">No log output captured.</div>
                        </td>
                    </tr>
                {% endif %}
              {% endfor %}
          {% endif %}
      </tbody>
</table></body></html>